.git
.gitignore
.bundle
**/node_modules
**/.env*
**/*.key
config/credentials.yml.enc
config/credentials
log/*
tmp/*
storage/*
.local
coverage
frontend/dist
frontend/playwright-report
frontend/test-results
public/assets
.kamal
config/deploy*.yml
.githooks
.claude
.agents
.devcontainer
.github
.DS_Store
Dockerfile*
.dockerignore
